main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      aside.sold-out {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        color: #EEE;
        background-color: tomato;
        text-transform: uppercase;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
        font-size: 0.8em;
        opacity: 0.8;
        transition: 0.3s opacity;
      }

      &:hover {
        aside.sold-out {
          opacity: 1;
        }
        border-color: #999;

        footer {
          opacity: 1.0;
        }
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}

.rating {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 20px;
}

.reviews {
  padding: 50px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  min-height: 350px;
  justify-content: space-between;
  text-align: center;
}

.review-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
}

.review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background: rgba(255, 255, 255, 0.356);
}

.review-top {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.548);
  margin-top: 15px;
  background-color: rgba(255, 231, 231, 0.836);
}

textarea {
  resize: none;
}

.form {
  border: 1px solid rgba(255, 231, 231, 0.836);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  height: 220px;
}

.btn-review {
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  width: 50%;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  align-self: center;
  border-radius: 100px;
  border: 1px solid $color__secondary--light-blue;
  color: $color__primary;
  transition: background-color 1s;
  margin-top: 10px;
  transition: all .15s ease-out;
    &:hover {
      background: $color__secondary;
      color: #fff;
      transition: all .2s ease-in;
    }
}


.selectTime {
  width: 55%;
  align-self: center;
  height: 200px;
  padding: 15px 12px;
  appearance: none;
  border: 1px solid black;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}