<div class="reviews">
  <%= form_for :reviews, :html => {:class => "form"} do |f| %>
    <h2>Leave a Review:</h2>
    <textarea autofocus maxlength="500"  placeholder="Write your review here" rows="7" cols="70"></textarea>
    <button type="submit" class="btn-review">Submit Review</button>
  <%end%>
</div>